body {
    background: green;
}

.lgn-login-container {
    width: 550px;
    height: 640px;
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 30px;
    margin-left: 65px;
}

.lgn-login-error-list {
    padding: 0px;
    margin: 0px;
}

h1.lgn-login-header {
    margin: 0px;
    padding: 0px;
}

.lgn-login-error-item {
    font-family: antarctican-headline;
    font-weight: 700;
    font-style: normal;
    list-style-type: none;
    list-style: none;
    font-size: 19px;
    padding-left: 0px;
    background: -webkit-linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.lgn-login-header {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    color: black;
    width: 50px;
    height: 120px;
}

.lgn-input-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
}

.lgn-user-input-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 80px;
    /* border: 1px solid black;
    background: -webkit-linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));; */
}

.lgn-pwrd-input-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 80px;
    /* border: 1px solid black;
    background: -webkit-linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));; */
}

.lgn-user-label-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 20px;
    position: relative;
    margin-bottom: -10px;
    margin-left: 10px;
    border-radius: 5px;
}

.lgn-pwrd-label-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 20px;
    position: relative;
    margin-bottom: -10px;
    margin-left: 10px;
    border-radius: 5px;
}

.lgn-user-label {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    background-color: white;
    color: black;
    width: 120px;
    height: 20px;
    text-align: center;
    margin-top: -5px;
}

.lgn-pwrd-label {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    background-color: white;
    color: black;
    width: 75px;
    height: 20px;
    text-align: center;
    margin-top: -5px;
}

.lgn-user-login-input {
    font-family: antarctican-headline;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    width: 375px;
    height: 40px;
    padding-left: 10px;
    padding-right: -10px;
}


.lgn-pwrd-login-input {
    font-family: antarctican-headline;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    width: 375px;
    height: 40px;
    padding-left: 10px;
    padding-right: -10px;
}

.lgn-user-login-input:-webkit-autofill,
.lgn-user-login-input:-webkit-autofill:hover,
.lgn-user-login-input:-webkit-autofill:focus,
.lgn-user-login-input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
    -webkit-font-family: antarctican-headline, sans-serif;
    -webkit-font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: black;
    caret-color: white;}

.lgn-pwrd-login-input:-webkit-autofill,
.lgn-pwrd-login-input:-webkit-autofill:hover,
.lgn-pwrd-login-input:-webkit-autofill:focus,
.lgn-pwrd-login-input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
    -webkit-font-family: antarctican-headline, sans-serif;
    -webkit-font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: black;
    caret-color: white;
}

.lgn-user-cancel-btn {
    background: none;
    border: none;
    background-image: url("../../../public/icons/cancel-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    filter: invert(0.5);
    position: abosulte;
    margin-left: 385px;
    margin-top: -29px;
    opacity: 0%;
}

.lgn-user-cancel-btn:hover {
    background: none;
    border: none;
    background-image: url("../../../public/icons/cancel-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    filter: invert(1);
    position: abosulte;
    margin-left: 384px;
    margin-top: -30px;
}

.lgn-pwrd-cancel-btn {
    background: none;
    border: none;
    background-image: url("../../../public/icons/cancel-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    filter: invert(0.5);
    position: abosulte;
    margin-left: 385px;
    margin-top: -29px;
    opacity: 0%;
}

.lgn-pwrd-cancel-btn:hover {
    background: none;
    border: none;
    background-image: url("../../../public/icons/cancel-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    filter: invert(1);
    position: abosulte;
    margin-left: 384px;
    margin-top: -30px;
}

.lgn-login-btn {
    font-family: antarctican-headline;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    width: 400px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 0.25em;
    background-image: linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));
    opacity: 50%;
}

.lgn-show-pwrd-btn {
    background-image: url("../../../public/icons/eye.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 350px;
    margin-top: 25px;
    opacity: 25%;
}
