body {
    background-image: linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));
    font-family: antarctican-headline;
    font-weight: 700px;
    font-size: 16px;
}

.upl-upload-container {
    width: 570px;
    height: 800px;
    background: rgba(255, 255, 255, 0.75);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    padding-left: 30px;
}

.upl-login-error-list {
    padding: 0px;
    margin: 0px;
}

.upl-login-error-item {
    font-family: antarctican-headline;
    font-weight: 700;
    font-style: normal;
    list-style-type: none;
    list-style: none;
    font-size: 19px;
    padding-left: 0px;
    background: -webkit-linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
}

.upl-login-header {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 48px;
    color: black;
    width: 400px;
    height: 80px;
}

.upl-input-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
    align-items: left;
    justify-content: space-around;
}

.upl-music-drop {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: black;
    font-weight: 700;
}

.upl-dragndrop-title {
    background: -webkit-linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 18px;
    margin-bottom: 0px;
}

.upl-music-file-div {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 80px;
}

.upl-music-text {
    width: 180px;
    height: 20px;
    text-align: left;
}

.upl-music-input {
    width: 180px;
    height: 30px;
    font-family: antarctican-headline;
    font-weight: 700;
    font-size: 12px;
    background: transparent;
    background: -webkit-linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(120, 100, 220, 1);
    font-size: 12px;

}

/* .upl-music-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    background: grey;
    border: 1px solid black;
    background: -webkit-linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));;
} */

.upl-image-input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 200px;
    margin-bottom: 20px;
    background: grey;
    /* border: 1px solid black;
    background: -webkit-linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));; */
}

.upl-music-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    font-family: antarctican-headline;
    font-weight: 700;

}

.upl-music-label-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 20px;
    position: relative;
    margin-bottom: -10px;
    margin-left: 10px;
    border-radius: 5px;
}

.upl-image-label-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 20px;
    position: relative;
    margin-bottom: -10px;
    margin-left: 10px;
    border-radius: 5px;
}

.upl-music-label {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    background-color: white;
    color: black;
    width: 120px;
    height: 20px;
    text-align: center;
    margin-top: -5px;
}

.upl-image-label {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 12px;
    background-color: white;
    color: black;
    width: 100px;
    height: 20px;
    text-align: center;
    margin-top: -5px;
}

.upl-music-login-input {
    font-family: antarctican-headline;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-right: -10px;
}


.upl-image-login-input {
    font-family: antarctican-headline;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-right: -10px;
}

.upl-user-login-input:-webkit-autofill,
.upl-user-login-input:-webkit-autofill:hover,
.upl-user-login-input:-webkit-autofill:focus,
.upl-user-login-input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
    -webkit-font-family: antarctican-headline, sans-serif;
    -webkit-font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: black;
    caret-color: white;}

.upl-pwrd-login-input:-webkit-autofill,
.upl-pwrd-login-input:-webkit-autofill:hover,
.upl-pwrd-login-input:-webkit-autofill:focus,
.upl-pwrd-login-input:-webkit-autofill:active,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: black !important;
    -webkit-font-family: antarctican-headline, sans-serif;
    -webkit-font-weight: 700;
    font-style: normal;
    font-size: 14px;
    color: black;
    caret-color: white;
}

.upl-user-cancel-btn {
    background: none;
    border: none;
    background-image: url("../../../public/icons/cancel-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    filter: invert(0.5);
    position: abosulte;
    margin-left: 385px;
    margin-top: -29px;
    opacity: 0%;
}

.upl-user-cancel-btn:hover {
    background: none;
    border: none;
    background-image: url("../../../public/icons/cancel-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    filter: invert(1);
    position: abosulte;
    margin-left: 384px;
    margin-top: -30px;
}

.upl-pwrd-cancel-btn {
    background: none;
    border: none;
    background-image: url("../../../public/icons/cancel-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 12px;
    filter: invert(0.5);
    position: abosulte;
    margin-left: 385px;
    margin-top: -29px;
    opacity: 0%;
}

.upl-pwrd-cancel-btn:hover {
    background: none;
    border: none;
    background-image: url("../../../public/icons/cancel-btn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 15px;
    height: 15px;
    filter: invert(1);
    position: abosulte;
    margin-left: 384px;
    margin-top: -30px;
}

.upl-login-btn {
    font-family: antarctican-headline;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    width: 400px;
    height: 35px;
    color: white;
    border: none;
    border-radius: 0.25em;
    background-image: linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));
    opacity: 50%;
}

.upl-show-pwrd-btn {
    background-image: url("../../../public/icons/eye.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    margin-left: 350px;
    margin-top: 25px;
    opacity: 25%;
}
