.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100vw;
    height: 100vh;
    background-image: url('./Login-bg.png');
    background-size: contain;
    overflow: scroll;
}

.feed-container {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: auto;
    background-color: white;
}

.post-container {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px) brightness(125%);
    overflow: hidden;
}

.artists-slideshow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(50px) brightness(125%);
}

.artist-container {
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 400px;
    height: 500px;
}

.artist-pic {
    background-color: black;
    width: 100px;
    height: 100px;
}
.form-h2 {
    font-family: antarctican-headline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: white;
}

.form-p {
    font-family: antarctican-headline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: white;
    width: 550px;
}

.cc0 {
    width: 550px;
    height: 100px;
    background-image: url("./cc-zero_0.png");
    background-repeat: no-repeat;
    background-size: contain;
    mix-blend-mode: difference;
}

.form-q {
    font-family: antarctican-headline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
    color: white;
    padding-left: 15px;
}

.sign-up {
    text-decoration: white underline;
    color: white;
    padding-left: 15px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 800px;
    height: 900px;
    background-color: white;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
}

.login-header {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 75px;
    color: black;
    margin-top: 125px;
    padding-left: 75px;

}

.login-label {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    padding-left: 75px;

}

.login-input {
    font-family: antarctican-headlinesans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 10px;
    margin-top: 25px;
}

.login-button {
    width: 355px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 0.25em;
    margin-left: 75px;
    margin-top: 50px;
    background-image: linear-gradient(rgba(200, 125, 255, 0.25), rgba(120, 60, 220, 0.25));
}

.login-button:hover {
    background-image: linear-gradient(rgba(200, 125, 255, 1), rgba(120, 60, 220, 1));
}

.post-title {
    font-family: antarctican-headline, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    color: black;
    margin-bottom: -1vh;
}

.post-info {
    font-family: antarctican-headline, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: black;
}
